
<script>
    function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        }
        var img_path = "{{ url_for('static', filename='images/') }}" + getUrlParameter('image') + '.jpg';
</script>


{% extends "base.html" %}
{% block title %}Full Size Image{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Adventures in Street Art</h1>
        </div>
        </p>
        <p name='caption'><script>document.write(getUrlParameter('caption'));</script></p>
        <div>
        <!-- <p><script>document.write(img_path);</script></p> -->
        <img id="p1" width="98%" src="" />
        <script>
            document.getElementById("p1").src = img_path;
        </script>
        </div>
    </section>
    
    {% endblock %}
    {% block footer %}
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="/" name='back_to_home'>Back to photo index</a>
            </p>
        </div>
    </footer>
    {% endblock %}