{% extends "base.html" %}
{% block title %}Full Size Image{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Adventures in Street Art</h1>
        </div>
        </p>
        <p name='caption'><script>document.write(getUrlParameter('caption'));</script></p>
        <div>
        <img id="p1" width="98%" src="" />
        <script>
            document.getElementById("p1").src = img_path;
        </script>
        </div>
    </section>
    
    {% endblock %}
    {% block footer %}
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="/" name='back_to_home'>Back to photo index</a>
            </p>
        </div>
    </footer>
    {% endblock %}