{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Adventures in Street Art</h1>
            <p class="lead text-muted">A small selection of public art that I've
                photographed on my travels.</p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ url_for('static', filename='images/thumbnails/t_paris_img_1.jpg') }}" width="100%"
                            height="100%" />
                        <title>Unknown, Paris 2018</title>
                        <div class="card-body">
                            <p class="card-text">Unknown, Paris, 2018.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="image/?image=paris_img_1&caption='Unknown, Paris, 2018'"><button
                                            type="button" class="btn btn-sm btn-outline-secondary" id="paris_01">View
                                            Full Size</button></a>
                                    <!-- TODO <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ url_for('static', filename='images/thumbnails/t_unknown_tel_aviv.jpg') }}"
                            width="100%" height="100%" />
                        <title>Unknown, Tel Aviv, 2019</title>
                        <div class="card-body">
                            <p class="card-text">Unknown, Tel Aviv, 2019.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="image/?image=unknown_tel_aviv&caption='Unknown, Tel Aviv, 2019'"><button
                                            type="button" class="btn btn-sm btn-outline-secondary">View Full
                                            Size</button></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ url_for('static', filename='images/thumbnails/t_jimmy_paintz_la.jpg') }}"
                            width="100%" height="100%" />
                        <title>Jimmy Paintz, LA, 2019</title>

                        <div class="card-body">
                            <p class="card-text">'Jimmy Paintz', LA, 2019.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"
                                        onclick="alert('Intentionally Not Yet wired up')" id="la_2019">View Full
                                        Size</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ url_for('static', filename='images/thumbnails/t_dface-seattle.jpg') }}"
                            width="100%" height="100%" />
                        <title>D*Face, Seattle, 2018.</title>
                        <div class="card-body">
                            <p class="card-text">D*Face, Seattle, 2018.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="image/?image=dface-seattle&caption='D*Face, Seattle, 2018'"><button
                                            type="button" class="btn btn-sm btn-outline-secondary" id="DFace_18">View
                                            Full Size</button></a></div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ url_for('static', filename='images/thumbnails/t_karl_momen_utah.jpg') }}"
                            width="100%" height="100%" />
                        <title>>Karl Momen, Utah.</title>
                        <div class="card-body">
                            <p class="card-text">Karl Momen, Utah.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="image/?image=karl_momen_utah&caption='Karl Momen, Utah'"><button
                                            type="button" class="btn btn-sm btn-outline-secondary">View Full
                                            Size</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ url_for('static', filename='images/thumbnails/t_unknown_tel_aviv2.jpg') }}"
                            width="100%" height="100%" /></a>
                        <title>Unknown, Tel Aviv, 2019</title>

                        <div class="card-body">
                            <p class="card-text">Unknown, Tel Aviv, 2019</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="image/?image=unknown_tel_aviv2&caption='Unknown, Tel Aviv, 2019'"><button
                                            type="button" class="btn btn-sm btn-outline-secondary" id="tel_aviv2">View
                                            Full Size</button></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}


