{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Adventures in Street Art</h1>
            <p class="lead text-muted">The plan is to add a small selection of street pieces I've 
                stumbled across on my travels, and some from closer to home in Portland, OR. Check back soon, this thing's just getting started!</p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ url_for('static', filename='images/paris_img_1.jpg') }}" width="100%" height="100%"/>
                        <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                            role="img" aria-label="Placeholder: Thumbnail"> -->
                            <title>Placeholder</title>
                        <!-- </svg> -->
                        <div class="card-body">
                            <p class="card-text">Paris, 2018.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="alert('Not Yet wired up')">View Full Size</button>
                                    <!-- TODO <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="{{ url_for('static', filename='images/unknown_tel_aviv.jpg') }}" width="100%" height="100%" />
                            <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                                                    role="img" aria-label="Placeholder: Thumbnail"> -->
                            <title>Placeholder</title>
                            <!-- </svg> -->
                            <div class="card-body">
                                <p class="card-text">Tel Aviv, 2019.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="alert('Not Yet wired up')">View Full Size</button>
                                        <!-- TODO <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ url_for('static', filename='images/jimmy_paintz_la.jpg') }}" width="100%" height="100%" />
                        <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                                                role="img" aria-label="Placeholder: Thumbnail"> -->
                        <title>Placeholder</title>
                        <!-- </svg> -->
                        <div class="card-body">
                            <p class="card-text">'Jimmy Paintz', LA, 2019.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="alert('Not Yet wired up')">View Full Size</button>
                                    <!-- TODO <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
    
    
                </div>
            </div>
        </div>
    </div>
    
    </main>
{% endblock %}


