<!doctype html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W66F3F1E6H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-W66F3F1E6H');
    </script>
</head>
<title>Homepage</title>
<table witdth='100%' border=0>
    <tr>
        <td width='30%'>
            <br />
            <br />
            <p class="content">
                <center>Nothing to see here, yet...</center>
            </p>
        </td>
    </tr>
</table>
