{% extends "base.html" %}
{% block title %}Contact me{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<script>

  // Check Whether both password fields match
  
  function checkEmail(form) {
    email = form.email.value;
    email2 = form.email2.value;

    if (email != email2) {
      alert("\nEmails entered did not match: Please try again...")
      return false;
    }

    else {
      return true;
    }
  } 
</script>


<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Adventures in Street Art</h1>
      <br>
      <p class="lead text-muted">Any questions, credits, info on these images, please get in touch!</p>
    <br />
    </div>
    
    <div class="album py=5 bg-light" align="center">
    <br />
      <form onSubmit="return checkEmail(this)" action='../submit_form' method="post" >
      <table border="0" cellpadding="3">
      <tr>
        <td><input type="text" size="50" id="name" name="name" placeholder="Name" required></td>
      </tr>
      <tr>
        <td><input type="email" size="50" id="email" name="email" placeholder="Email" required></td>
      </tr>
      <tr>
        <td><input type="email" size="50" id="email2" name="email2" placeholder="Confirm Email" required></td>
      </tr>
      <tr>
        <td><textarea rows="5" cols="49" name="comment" placeholder="Please add your comment/question here..."></textarea></td>
          </td>
      </tr>
      <tr>
        <td align="right">
          <input type="reset" value="Reset" id="reset" name="reset" 
            class="btn-group btn btn-sm btn-outline-secondary">
          &nbsp;
          <input type="submit" value="Send it!" id="submit" name="submit" 
            class="btn-group btn btn-sm btn-outline-secondary">
          </td>
      </tr>
    </table>
    </form>
    <br />
   
    </div>

   
  </section>
</main>

{% endblock %}