{% extends "base.html" %}
{% block title %}Info Sign Up{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}

<script>

  // Check Whether both password fields match
  
  function checkEmail(form) {
    email = form.email.value;
    email2 = form.email2.value;

    if (email != email2) {
      alert("\nEmails entered did not match: Please try again...")
      return false;
    }

    else {
      return true;
    }
  } 
</script>


<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Adventures in Street Art</h1>
      <br>
      <p class="lead text-muted">This will become a hidden-ish info page. For now, create a test account!</p>
    <br />
    </div>
    
    <div class="album py=5 bg-light" align="center">
    <br />
      <form onSubmit="return checkEmail(this)" action='../submit_form' method="post" >
      <table border="0" cellpadding="3">
      <tr>
        <td><label for="firstName" class="lead text-muted" required>*First name:</label></td>
        <td><input type="text" cols="50" id="firstName" name="firstName" required></td>
      </tr>
      <tr>
        <td><label for="lastName" class="lead text-muted">*Last Name:</label></td>
        <td><input type="text" cols="50" id="lastName" name="lastName" required></td>
      </tr>
      <tr>
        <td><label for="email" class="lead text-muted">*Email:</label></td>
        <td><input type="email" cols="50" id="email" name="email" required></td>
      </tr>
      <tr>
        <td><label for="email2" class="lead text-muted">*Confirm Email:</label></td>
        <td><input type="email" cols="50" id="email2" name="email2" required></td>
      </tr>
      <tr>
        <td><label for="comment" class="lead text-muted">*Question:</label></td>
        <td><textarea rows="4" cols="50" name="comment" onfocus="this.value=''">Enter your question here...</textarea></td>
          </td>
      </tr>
      <tr>
        <td></td>
        <td align="right">
          <input type="reset" value="Reset" id="reset" name="reset" 
            class="btn-group btn btn-sm btn-outline-secondary">
          &nbsp;
          <input type="submit" value="Sign up!" id="submit" name="submit" 
            class="btn-group btn btn-sm btn-outline-secondary"></td>
      </tr>
    </table>
    </form>
    <br />
   
    </div>

   
  </section>
</main>

{% endblock %}